
@font-face {
  font-family: 'Quicksand-Regular';
  src: url('./assets/Fonts/Quicksand-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
$font-family-regular: 'Quicksand-Regular', 'Roboto', sans-serif;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 12px; 
    height: 12px; 
  }

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }
  
  ::-webkit-scrollbar-track {
    display: none;
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  ::-webkit-scrollbar-thumb {
    background: #ff9900;
    border-radius: 10px;
    border: 2px solid #fff8e1;
    transition: background 0.3s ease;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #e68a00;
  }
  
  ::-webkit-scrollbar-button {
    display: none;
  }
  
  /* Firefox */
  html {
    scrollbar-width: thin;
    scrollbar-color: #ff9900 #fff8e1;
   
  }
  
  body {
    overflow-x: hidden;
    font-family: $font-family-regular, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
  }
  // App.scss

.loading-container {
  display: flex;
  justify-content: center; /* Yatayda ortala */
  align-items: center; /* Dikeyde ortala */
  height: 100vh; /* Tüm ekran yüksekliğini kapla */
  width: 100vw; /* Tüm ekran genişliğini kapla */
  background-color: transparent; /* Arka plan şeffaf */
  position: fixed; /* Sayfada sabit kalsın */
  top: 0;
  left: 0;
  z-index: 9999; /* En üstte olsun */


  .dotlottie-container {
    width: 100%; /* Responsive genişlik */
    max-width: 300px; 
    height: auto; 
  }
}

// Diğer mevcut stiller (örneğin body font-family) burada kalabilir