.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  /* Merkezleme işlemi */
    z-index: 9;
    width: 100vw;  /* Genişlik %100 ekran genişliği */
    height: 100vh;  /* Yükseklik %100 ekran yüksekliği */
    background-color: transparent;
  }
  
  .dotlottie-container {
    width: 100%;
    max-width: 300px;  /* Lottie animasyonunun genişliği */
    height: auto;
  }
  