.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  /* Yükseklik ekranın tamamı kadar */
    width: 100vw;   /* Genişlik ekranın tamamı kadar */
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
  
    /* .dotlottie-container animasyonunun genişliğini ve yüksekliğini merkezle */
    .dotlottie-container {
      width: 100%;
      max-width: 300px;  /* Maksimum genişliği 300px olarak ayarla */
      height: auto;      /* Yükseklik otomatik olarak ayarlansın */
    }
  }
  