.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;   /* Ekranın tamamını kapla */
    height: 100vh;  /* Ekranın tamamını kapla */
    background-color: transparent;
    z-index: 9;
  }
  
  .dotlottie-container {
    width: 100%;
    max-width: 300px;  /* Lottie animasyonunun genişliği */
    height: auto;
  }
  
  /* Mobil cihazlar için özel ayar */
  @media (max-width: 768px) {
    .loading-container {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);  /* Merkezde hizalama */
      width: 100vw;    /* Ekran genişliği */
      height: 100vh;   /* Ekran yüksekliği */
    }
  
    .dotlottie-container {
      width: 80%;  /* Mobilde animasyonu biraz daha küçült */
      max-width: 250px;  /* Lottie animasyonunun maksimum genişliği */
    }
  }
  