.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  /* Merkezleme işlemi */
    z-index: 9;
    width: 100vw;  /* Genişlik %100 ekran genişliği */
    height: 100vh;  /* Yükseklik %100 ekran yüksekliği */
    background-color: transparent;
  }
  
  .dotlottie-container {
    width: 100%;
    max-width: 300px;  /* Lottie animasyonunun genişliği */
    height: auto;
  }
  
  @media (max-width: 768px) {
    .loading-container {
      width: 100vw;    /* Ekranın tamamını kaplar */
      height: 100vh;   /* Ekranın tamamını kaplar */
      top: 50%;        /* Yatayda ortalar */
      left: 50%;       /* Dikeyde ortalar */
      transform: translate(-50%, -50%);  /* Gerçekten merkezde olmasını sağlar */
    }
  
    .dotlottie-container {
      width: 80%;  /* Mobilde biraz daha küçültülmüş genişlik */
      max-width: 250px;  /* Lottie animasyonunun maksimum genişliği */
    }
  }
  